$cornflower_blue: #4468CE;
$beige: #EAE6E2;
$dk_gray: #313131;

@font-face {
  font-family: 'GuillonRegular';
  src:    url('/Fonts/Guillon-Regular/EOT/Guillon-Regular.eot');
  src:    url('/Fonts/Guillon-Regular/EOT/Guillon-Regular.eot?#iefix') format('embedded-opentype'),
          url('/Fonts/Guillon-Regular/WOFF/Guillon-Regular.woff') format('woff'),
          url('/Fonts/Guillon-Regular/WOFF2/Guillon-Regular.woff2') format('woff2'),
          url('/Fonts/Guillon-Regular/TTF/Guillon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}